#loginButton {
    -fx-background-color: tomato;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-border-color: darkred;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}