.sign-up-button {
    -fx-background-color: #7ac3e6; /* Sign Up button color */
    -fx-text-fill: #ffffff; /* White text for contrast */
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 10 20;
    -fx-background-radius: 30;
    -fx-border-radius: 30;

    -fx-effect: drop shadow(gaussian, rgba(0,0,0,0.2), 10, 0.5, 4, 4),
    drop shadow(gaussian, rgba(255,255,255,0.8), 10, 0.5, -4, -4);

    -fx-border-color: transparent; /* No border initially */
    -fx-cursor: hand; /* Pointer cursor */
    -fx-transition: 0.3s; /* Smooth transition */
}

.sign-up-button:hover {
    -fx-background-color: #65b0d8; /* Slightly darker shade on hover */
    -fx-effect: drop shadow(gaussian, rgba(255,255,255,1), 10, 0.5, -2, -2),
    drop shadow(gaussian, rgba(0,0,0,0.15), 10, 0.5, 2, 2);
}

.sign-up-button:pressed {
    -fx-background-color: #5ea7cc; /* Even darker shade when pressed */
    -fx-effect: drop shadow(gaussian, rgba(0,0,0,0.2), 10, 0.5, -2, -2),
    drop shadow(gaussian, rgba(255,255,255,0.7), 10, 0.5, 2, 2);
}